body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background-color: #f0f0f0;
    margin: 0;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.form-container h1, .form-container h2 {
    text-align: center;
}
.form-container h1 {
    margin-bottom: 10px;
}
.form-container h2 {
    margin-top: 0;
    font-size: 16px;
    color: #555;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="number"] {
    width: calc(100% - 12px);
}
.form-group .half-width {
    display: inline-block;
    width: calc(50% - 5px);
}
.form-group .half-width:first-child {
    margin-right: 10px;
}
.form-group .product-quantity {
    width: calc(100% - 12px);
    padding: 5px;
    font-size: 16px;
}
.checkout-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error-messages {
    color: red;
    margin-bottom: 15px;
}
/* .receipt {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
} */
.receipt {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    display: none;
    margin-top: 20px;
}
.receipt h2, .receipt h3 {
    text-align: center;
}
.receipt table {
    width: 100%;
    border-collapse: collapse;
}
.receipt table, .receipt th, .receipt td {
    border: 1px solid #ccc;
    padding: 8px;
}
.receipt th {
    text-align: left;
}
.receipt td {
    text-align: right;
}